* {
	margin: 0px;
	padding: 0px;
	}

body {
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
	padding: 5px;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
	}

#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	padding: 5px;
	border-radius: 5px;
	background-color: #34495e;
    margin-left: auto ;
    margin-right: auto ;
	}

#canvas {
    margin-top: 60px;
	border-radius: 5px;
    width:512px;
    height:512px;
    border: 1px solid black;
    background-color: rgb(255,255,255);
    }

#options {
    position: absolute;
    left: 20px;
    top: 67px;
    color: #000;
    margin-left: auto ;
    margin-right: auto ;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    overflow: auto;
    width: 175px;
    margin-bottom: 20px;
}

#tools {
    height: 175px;
	padding: 5px;
	border-top: 1px solid white;
}


#tools span {
    float: left;
    width: 165px;
    position: relative;
}

#tools span:last-of-type {
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

#tools div {
    margin-top: 10px;
	float: left;
}

#drawOptions {
	overflow: auto;
	}

#colors {
	float: left;
	overflow: auto;
	width: auto;
	padding: 5px;
    }

#colors img {
	border-radius: 3px;
    border: 1px solid black;
}

#colors > img:hover {
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	transform:scale(1.5);
	}

#lineWidth {
	width: 15%;
	float: right;
	text-align: center;
	}

#colorTarget {
	float: left;
	padding: 5px;
	}

#colorTarget div {
	width: 40px;
	height: 20px;
	float: left;
	border-radius: 3px;
    border: 1px solid black;
	}
#colorTarget div:first-child {
	margin-right: 5px;
	}

#colorTarget span {
	margin-left: 8px;
	}

#colorTarget span span {
	margin-left: 15px;
	}

#fillOptions {
	clear: both;
	float: left;
	}

#imageOptions {
	clear: both;
	float: left;
	}

#titleInput {
    border-bottom: 1px solid rgba(200,200,200,1);
    background-color: rgba(238,238,238,1);
    height: 50px;
    font-size: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin-bottom: 30px;
    clear:left;
    z-index: 0;
    text-align:center;/* Add This*/
}

#titleInput input {
    border: 0px;
    background-color: rgba(230,230,230,1);
    text-align: center;
    height: 30px;
    font-size: 20px;
    border: 0px;
}

#titleInput span.logo {
    position: absolute;
    left: 40px;
    top: 5px;
    background-image: url("../images/logo.png");
    height: 65px;
    width: 120px;
    background-repeat: no-repeat;

}

#titleInput span.branding {
    color: #3498db;
    top: 5px;
    text-shadow: 0px 1px 1px #4d4d4d;
    position: absolute;
    left: 102px;
    font-size: 30px;
    font-weight: 900;
}

.black {
	background-color: #000000;
	}

.white {
	background-color: #ffffff;
	}

.blue {
	background-color: #0000ff;
	}

.skyblue {
	background-color: #00ffff;
	}

.red {
	background-color: #ff0000;
	}

.green {
	background-color: #00ff00;
	}

.yellow {
	background-color: #ffff00;
	}

.pink {
	background-color: #ff00ff;
	}

.gray {
	background-color: #888888;
	}