<!DOCTYPE html>
<html data-ng-app="sketchApp">
<head lang="en">
	<meta charset="utf-8">
	<title>SE 3353 Sketch App</title>

	<link href="css/sketch.css" rel="stylesheet">
</head>
<body data-ng-controller="sketchController" data-ng-init="init()">
  <div id="container">
      <div id="titleInput">
          Sketch Name:<input type="text" data-ng-model="sketchTitle"/>
      </div>
    <canvas id="canvas">
      Your browser does not support the canvas element.
    </canvas>

    <div id="options">
        <div id="tools">
          <span><input type="radio" name="tool" value="pencil" checked data-ng-model="tool" ng-disabled="midPolyDraw==true"> Pencil</span>
          <span><input type="radio" name="tool" value="line" data-ng-model="tool" ng-disabled="midPolyDraw==true"> Line</span>
          <span><input type="radio" name="tool" value="rectangle" data-ng-model="tool" ng-disabled="midPolyDraw==true"> Rectangle</span>
          <span><input type="radio" name="tool" value="square" data-ng-model="tool" ng-disabled="midPolyDraw==true"> Square</span>
          <br>
          <span><input type="radio" name="tool" value="circle" data-ng-model="tool" ng-disabled="midPolyDraw==true"> Circle</span>
          <span><input type="radio" name="tool" value="ellipse" data-ng-model="tool" ng-disabled="midPolyDraw==true"> Ellipse</span>
          <span><input type="radio" name="tool" value="polygon" data-ng-model="tool" > Polygon</span>
            <div><button data-ng-click="undo()" ng-disabled="midPolyDraw==true">Undo</button></div>
          <div id="redobutton"><button data-ng-click="redo()" ng-disabled="midPolyDraw==true">Redo</button></div>
          <div id="endShape"><button data-ng-click="endPolygon()">End shape</button></div>
        </div>

        <div id="drawOptions">
          <div id="colors" data-ng-hide="isToolNameSelected('image')">
            <img src="images/colors/black.png" data-ng-click="selectColor('1')">
            <img src="images/colors/white.png" data-ng-click="selectColor('2')">
            <img src="images/colors/blue.png" data-ng-click="selectColor('3')">
            <img src="images/colors/skyblue.png" data-ng-click="selectColor('4')">
            <img src="images/colors/red.png" data-ng-click="selectColor('5')">
            <img src="images/colors/green.png" data-ng-click="selectColor('6')">
            <img src="images/colors/yellow.png" data-ng-click="selectColor('7')">
            <img src="images/colors/pink.png" data-ng-click="selectColor('8')">
            <img src="images/colors/gray.png" data-ng-click="selectColor('9')">
          </div>

          <div id="colorTarget" data-ng-hide="isToolNameSelected('image')">
            <div title="Line color" data-ng-class="lineColorCss" data-ng-click="changeColorTarget('line')"></div>
            <div id="saveSketch"><button data-ng-click="saveSketch()" ng-disabled="midPolyDraw==true">Save</button></div>
            <div id="loadSketch"><button data-ng-click="loadSketch()" ng-disabled="midPolyDraw==true">Load</button></div>
            <div id="newSketch"><button data-ng-click="newSketch()" ng-disabled="midPolyDraw==true">New</button></div>
            <br>
            <span>Line</span>
          </div>

          <div id="lineWidth" data-ng-hide="isToolNameSelected('image')">
            <input type="radio" name="lineWidth" value="small" title="small" data-ng-model="lineText" data-ng-click="changeLineWidth('3')">
            <input type="radio" name="lineWidth" value="medium" checked title="medium" data-ng-model="lineText" data-ng-click="changeLineWidth('5')">
            <input type="radio" name="lineWidth" value="large" title="large" data-ng-model="lineText" data-ng-click="changeLineWidth('10')">
          </div>

          <div id="fillOptions" data-ng-show="isToolNameSelected('rectangle', 'circle')">
            Fill shape?
            <input type="checkbox" data-ng-model="fillShape">
          </div>
          <div id="selectMode"><button data-ng-click="changeSelectMode()" ng-disabled="midPolyDraw==true">Enter/Exit Selection Mode</button></div>

          <div id="imageOptions" data-ng-show="isToolNameSelected('image')">
            <input id="inpImage" type="file">
          </div>
        </div>
    </div>
  </div>

  <script src="js/libs/angular.min.js"></script>
  <script src="js/libs/jquery-2.1.3.min.js"></script>
  <script src="js/sketchController.js"></script>
  <script src="js/sketchRendererFactory.js"></script>
</body>
</html>